//Created by Hlavo on 13.4.16.
mixin Work
    section#work.section.section--work
        header.section__header
            h3.section__header__title=sectionwork.title
        main.section__main
            .row
                each item in sectionwork.projects
                    div(class="col col__3 col__3--sm col__3--md section--work__item section--work__item--#{item.class}")
                        .section--work__item__text
                            p.section--work__item__text__centrator
                                span.section--work__item__header=item.title
                                |#{item.text}
                                -if(item.title!=="ZENTIVA")
                                    a(target="_blank",href=item.href).button.button--center Online